
img {
  width: 100%;
  object-fit: cover;
}



a, a:link, a:visited {
  text-decoration: none;
  color: #282828;
  transition: all .2s ease-in;
  cursor: pointer;
}

.product_card {
  cursor: pointer;
}
