<nav class="navbar bg-dark">
  <a href="/"><h2>Админ</h2></a>
  <ul *ngIf="auth.isAuthenticated(); else login">
    <li routerLinkActive="active">
      <a routerLink="/admin/dashboard">dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/add">add</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin/orders">orders</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">logout</a>
    </li>
  </ul>
  <ng-template #login>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/admin/login">login</a>
      </li>
    </ul>
  </ng-template>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
