.dashboard {
  justify-content: space-around;
}

.max-h-40rem {
  max-height: 40rem !important;
}

.w-32 {
  width: 32%;
}

.w-100 {
  width: 100%;
}

.of-c {
  object-fit: cover;
}

.product_tiles {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 0fr));
  grid-auto-flow: dense;
}


.banner_section {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"left_section right_section";
  height: 25rem;
}
.banner_section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.left_section {
  grid-area: left_section;
  overflow: hidden;
}
.right_section {
  grid-area: right_section;
  overflow: hidden;

}

.section{
  display: grid;
  gap: 0px 0px;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 0.25rem 0 0.25rem;
}
.title_section {

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas:"left_section right_section";

}

.title_section .left_section{
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}
.title_section .right_section {
  font-size: 1rem;
  padding: 2rem;
  font-style: italic;
}
.text-section {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"left_section right_section";
}
.text_section .font-title {
  font-size: 3rem;
  padding: 1rem 1rem 0 1rem;
}
