.dashboard{
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}
.box {
  max-height: 650px;
  width: 32%;
  margin: 5px;
  padding: 10px;
  flex: 0 1 auto;
  }
