
<div *ngIf="products$ | async as products" class="formgroup-inline dashboard">
  <div class="m-1 p-2" >
    <img *ngIf="productService.type === 1" class="w-100" src="assets/ryan.jpg" alt="">

    <img *ngIf="productService.type === 2" class="w-100" src="assets/yeezy.jpg" alt="">

    <img *ngIf="productService.type === 3" class="w-100" src="assets/gaga.jpg" alt="">
  </div>

  <div class="product_tiles">
  <app-product *ngFor="let product of products | sorting:productService.type" class="m-1 p-2 flex-initial"
               [product]="product"></app-product></div>

</div>
<div class="second_section">
    <div class="left_section">
      <img src="https://static.wixstatic.com/media/ca2a5a_c8150b131534409881cbe3c4d36ff6ba.jpg/v1/fill/w_1000,h_631,al_c,q_85,enc_auto/ca2a5a_c8150b131534409881cbe3c4d36ff6ba.jpg">
    </div>
    <div class="right_section">
      <img src="https://static.wixstatic.com/media/ca2a5a_940416ccb18a434a87313f984bbdc39d.jpg/v1/fill/w_432,h_994,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ca2a5a_940416ccb18a434a87313f984bbdc39d.jpg">
    </div>
</div>

