
<p-card header="Login" [style]="{ width: '45%' }">
  <ng-template pTemplate="header">
    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
  </ng-template>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Username" id="email" type="email" formControlName="email">
    </p-inputGroup>


    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-lock-open"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Password" id="password" type="password" formControlName="password">
    </p-inputGroup>
    <p-button id="submit" type="submit" icon="pi pi-check" label="login"
              [disabled]="loginForm.invalid || submitted">
    </p-button>
  </form>

</p-card>
