<p-card header="Изменить продукт" [style]="{ width: '100%' }">
  <div *ngIf="form; else loading">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div>


        <div class="m-5">
          <p-dropdown [style]="{width: '100%'}" id="type" formControlName="type" [options]="typesOfProducts"
                      optionLabel="name" placeholder="Тип"></p-dropdown>

          <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
            <small *ngIf="form.get('type').errors.required">Выберите тип</small>
          </div>

        </div>
        <div class="m-5">
          <p-inputGroup [style]="{width: '100%'}">
            <p-inputGroupAddon>
              <i class="pi pi-user"></i>
            </p-inputGroupAddon>
            <input pInputText placeholder="Наименование товара" id="title" type="text" formControlName="title"/>
          </p-inputGroup>

          <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
            <small *ngIf="form.get('title').errors.required">Введите название</small>
          </div>
        </div>
      </div>

      <div class="m-5">

        <div *ngIf="isLoading;">
          <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </div>


        <p-fileUpload mode="basic"
                      chooseLabel="Choose"
                      accept="image/*"
                      type="file"
                      (onSelect)="handleFiles($event)"
        ></p-fileUpload>


        <div *ngIf="uploadedFile" class="image-container">
          <img [src]="uploadedFile">
        </div>

      </div>

      <div class="m-5">
        <ckeditor id="info" formControlName="info" [editor]="Editor" data="<p>Info</p>"></ckeditor>
      </div>

      <div class="m-5">

        <p-inputGroup [style]="{width: '30%'}">
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Цена" id="price" type="text" formControlName="price"/>
        </p-inputGroup>

        <div *ngIf="form.get('price').touched && form.get('price').invalid" class="validation">
          <small *ngIf="form.get('price').errors.required">Введите цену</small>
        </div>
      </div>

      <p-button label="Подтвердить" type="submit" [disabled]="form.invalid || submitted"></p-button>
    </form>
  </div>

  <ng-template #loading>
    <p class="text-center">Loading...</p>
  </ng-template>
</p-card>
