<div *ngIf="product$ | async as product; else loading">

  <div class="header right">
    <p-button class="p-button-sm" routerLink="/">Назад</p-button>
  </div>

  <p-card>
    <div class="grid-container">
      <div *ngIf="product.photo" class="image-ar">
        <img [src]="product.photo" alt="">
      </div>
      <div class="title-ar"><h2>{{ product.title }}</h2></div>
      <div class="price-ar"><h2>Price: {{ product.price }}</h2></div>
      <div class="buy-ar">
        <p-button class="btn btn-dark" (click)="addToCart(product)">Добавить в корзину
        </p-button>
      </div>
    </div>
  </p-card>

  <p-card class="p-5">
    <div [innerHTML]="product.info"></div>
  </p-card>

</div>


<ng-template #loading>
  <p-card>
    <div class="grid-container">
      <div class="image-ar">
        <p-skeleton width="400px" height="400px"></p-skeleton>
      </div>
      <div class="title-ar">
        <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      </div>
      <div class="price-ar">
        <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      </div>
      <div class="buy-ar">
        <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
  </p-card>
  <p-card>
    <p-skeleton width="100%" height="150px"></p-skeleton>
  </p-card>
</ng-template>

