
<p-card header="Login" [style]="{ width: '45%' }">
<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="text-center">Добавить</h2>

  <div class="form-control">
    <label for="type">Тип</label>
    <select id="type" formControlName="type">
      <option value="Tshirts">Футболки</option>
      <option value="Shoes">Обувь</option>
      <option value="Accessories">Аксессуары</option>
    </select>
    <div *ngIf="form.get('type').touched && form.get('type').invalid" class="validation">
      <small *ngIf="form.get('type')?.errors?.required">enter type</small>
    </div>
  </div>

  <div class="form-control">
    <label for="title">Название</label>
    <input id="title" formControlName="title">
    <div *ngIf="form.get('title').touched && form.get('title').invalid" class="validation">
      <small *ngIf="form.get('title')?.errors?.required">enter title</small>
    </div>
  </div>

  <div class="form-control">
    <label for="photo">Фото</label>
    <quill-editor id="photo" formControlName="photo"></quill-editor>
  </div>

  <div class="form-control">
    <label for="info">Инфо</label>
    <ckeditor id="info" formControlName="info" [editor]="Editor" data="<p>Info</p>"></ckeditor>
  </div>

  <div class="form-control">
    <label for="price">Цена</label>
    <input id="price" formControlName="price">
    <div *ngIf="form.get('price').touched && form.get('price').invalid" class="validation">
      <small *ngIf="form.get('price')?.errors?.required">enter price</small>
    </div>
  </div>

  <button id="submit" type="submit" class="btn btn-primary btn-block"
          [disabled]="form.invalid || submitted">Добавить
  </button>

</form>
</p-card>

