@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';






ul {
  list-style: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
  height: 3rem;

  &.main {
    justify-content: center;
    border-bottom: 1px solid var(--dark-color);
  }

  ul {
    display: flex;
  }

  li.active a {
    color: #1f2023;
    font-weight: bold;
    cursor: default;
    opacity: 1;
  }

  a {
    color: #1f2023;
    padding: 0.45rem;
    margin: 0 0.25rem;
    opacity: .7;

    &:hover {
      color: var(--light-color);
      opacity: 1;
    }
  }
}
