<div class="header">
  <a class="header__li" href="/">
    Mагаз
  </a>
  <div class="header_empty"></div>
  <div class="header__li" routerLinkActive="active">
    <a (click)="setType('Tshirts')">Футболки</a>
  </div>
  <div class="header__li">
    <a (click)="setType('Shoes')">Обувь</a>
  </div>
  <div class="header__li">
    <a (click)="setType('Accessories')">Аксессуары</a>
  </div>
  <div class="header__li">
    <a (click)="setType('Cart')" routerLink="/cart">Корзина</a>
  </div>
</div>

<router-outlet></router-outlet>









