<nav class="navbar bg-dark">
  <h2>Магаз</h2>
  <ul>
    <li routerLinkActive="active">
      <a (click)="setType('Tshirts')">Футболки</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Shoes')">Обувь</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Accessories')">Аксессуары</a>
    </li>
    <li routerLinkActive="active">
      <a (click)="setType('Cart')" routerLink="/cart">Корзина</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
